.general-shopping-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping-cart-container {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: 80%;
  box-shadow: -2px 4px 17px 11px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -2px 4px 17px 11px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 4px 17px 11px rgba(0, 0, 0, 0.25);
  background-color: #63a46c;
  color: #fff;
  font-family: "Lobster", cursive;
  border-radius: 10px;
}
.left-container {
  width: 70%;
  box-shadow: 7px 1px 5px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 7px 1px 5px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 7px 1px 5px -2px rgba(0, 0, 0, 0.43);
  overflow-y: auto;
  position: relative;
}

.left-container::-webkit-scrollbar-thumb {
    background: #233329;
    border-radius: 0px;
  }
  .left-container::-webkit-scrollbar-track-piece{
    margin-top: 120px;
  }
.header-shopping-cart-container {
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: space-between;
  padding: 40px;
}

.header-shopping-cart-container h2 {
  margin: 0;
}

.header-shopping-cart-container span{
    opacity: 0.6;
}
.dishes-shopping-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    padding-right: 0px;
    padding-bottom: 0;
    position: absolute;
    width: 88%;
}

.dishes-card-shopping-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
}

.dishes-card-shopping-cart::before {
    content:"";
    border: 1px solid #233329;
    width: 100%;
    position: absolute;
    bottom: 150px;
}

.information-dish-card-shopping{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.name-span{
    font-size: 14px;
    opacity: 0.6;
}
.name-dish-span{
    font-size: 20px;
}

.buttons-shopping-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.decrement-button-shopping{
    font-size: 18px;
    text-transform: uppercase;
    background-color: #b42b2b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 14px;
    margin-top: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.increment-button-shopping{
    font-size: 18px;
    text-transform: uppercase;
    background-color: #2bb43d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 14px;
    margin-top: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.delete-button{
    font-size: 24px;
    text-transform: uppercase;
    background-color: #b42b2b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 2px 12px;
    margin-top: 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.price-dish-card-shopping{
    font-size: 20px;
}
.right-container {
  width: 30%;
  background-color: #233329;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.dishes-card-shopping-cart {
  width: 100%;
  height: auto;
}

.dish-image-shopping {
  width: 120px;
  height: 120px;
}

.header-checkout-container{
    font-size: 20px;
    margin-bottom: 40px;
    position: relative;
}

.header-checkout-container::after{
    content:"";
    border: 1px solid #63a46c;
    width: 100%;
    position: absolute;
    top: 98px;
}

.summary-items-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.province{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}
.province button{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 34px;
    border: none;
    padding: 4px 8px;
    background-color: #63a46c;
    border-radius: 4px;
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
.province label{
    font-size: 18px;
}
.options-province{
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-bottom: 0px;
}
.options-province button{
    width: 100px;
    border-radius: 0px;
    border-bottom: 1px solid black;
}
.options-province button:hover{
    background-color: #233329;
}
.discount{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.discount input{
    height: 26px;
    border: none;
    padding: 4px 8px;
    background-color: #63a46c;
    border-radius: 4px;
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 16px;
}

.verify-code{
    width: 100%;
}

.error-code{
    font-size: 18px;
    width: 180px;
    float: left;
    color:#b42b2b
}
.verify-code-button{
    height: 26px;
    border: none;
    background-color: #63a46c;
    border-radius: 4px;
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 16px;
    width: 100px;
    float: right;
    cursor: pointer;
}

.verify-code-button:hover{
    opacity: 0.6;
}
.discount label{
    font-size: 18px;
}
.discount input::placeholder{
    color:#fff;
    opacity: 0.8;
}

.footer-checkout-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}
.total-price{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.total-price::before{
    content:"";
    border: 1px solid #63a46c;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.total-price span{
    font-size: 18px;
}
.checkout-button{
    border: none;
    padding: 12px;
    font-size: 18px;
    background-color: #63a46c;
    border-radius: 4px;
    color: #fff;
    font-family: "Lobster", cursive;
    cursor: pointer;
}

.checkout-button:hover{
    opacity: 0.6;
}

@media only screen and (max-width: 1600px) {
    .general-shopping-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .shopping-cart-container {
        width: 65%;
        height: 100%;
      }
  }
  @media only screen and (max-height: 800px) {
    .checkout-button{
        margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 1400px) {
    .shopping-cart-container {
        width: 65%;
      }
  }

  @media only screen and (max-width: 480px) {
    .general-shopping-container{
        height: 1000px;
    }
    .shopping-cart-container{
        flex-direction: column;
        border-top-right-radius: 10px;
        width: 90%;
        height: 1000px;
    }
    .left-container{
        width: 100%;
        height: 50%;
        border-top-right-radius: 10px;
    }
    .header-shopping-cart-container{
        width: 500px;
        padding: 20px 20px 10px;
    }
    .dishes-shopping-container{
        padding: 30px 30px 10px 20px;
    }

    .dishes-card-shopping-cart{
        width: 500px;
        margin-right: 20px;
    }
    .right-container{
        width: 100%;
        padding: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        box-shadow: 7px 1px 5px -2px rgb(0 0 0 / 43%);
    -webkit-box-shadow: 7px 10px 5px -2px rgb(0 0 0 / 43%);
    -moz-box-shadow: 7px 1px 5px -2px rgba(0, 0, 0, 0.43);
    }
    .header-checkout-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .summary-items-price{
        margin-left: 20px;
    margin-right: 20px;
    }
    .province{
        margin-left: 20px;
    margin-right: 20px;
    }
    .discount{
        margin-left: 20px;
    margin-right: 20px;
    }
    .footer-checkout-container{
        margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    }
    .verify-code-button{
        width: auto;
        height: auto;
    }
  }







