.navbar {
  background-color: #233329;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Lobster", cursive;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logo-container img {
  height: 100%;
}

.links-normal {
  display: flex;
  padding-right: 30px;
  gap: 20px;
}

.navbar-buttons li:hover {
  border: 1px solid #233329;
  background-color: #63a46c;
  transition: 0.5s ease-in-out;
}

.navbar-buttons-- {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #63a46c;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.navbar-buttons--:hover {
  border: 1px solid #233329;
  background-color: #63a46c;
  transition: 0.5s ease-in-out;
}

.menu-button-navbar{
  color:#fff;
  margin-right: 10px;
  display: none;
}

.App{
  width: auto;
}

header{
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .logo-container {
    width: 290px;
  }
  .logo-container h2 {
    font-size: 20px;
    width: 200px;
    font-weight: 500;
  }
  .navbar-buttons {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .links-normal {
    display: none;
  }
  .navbar-buttons-- {
    padding: 0;
    background-color: #233329;
  }
  .menu-button-navbar {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #63a46c;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
  }

  .links-mobile {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #63a46c;
    height: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .links-mobile a {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .menu-button-navbar-close {
    padding: 8px 16px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #63a46c;
    background-color: #233329;
    border-radius: 4px;
  }

  .menu-button-navbar-close:hover{
    background-color: #233329;
    opacity: 0.6;
  }
  .navbar-buttons--:hover {
    background-color: #233329;
    opacity: 0.6;
  }
  .navbar{
    justify-content: center;
  }
}
