@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;500;700;900&display=swap');
body{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  min-width: 320px;
}
#root{
  height: 100vh;
}
.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #63a46c;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #426b47; 
}

header{
  height: 8%;
}
